# Настройки Visual Studio Code
.vscode/

# Папка с локальным окружением
venv/

# Папка с обученными моделаям (может быть в будующем кинем в репозиторий)
outputs/*

# Базы данных
data/poses/*
data/processed/*
data/raw/*
data/testData

data/metadata.csv