# Local environment
venv/

# Trained models
outputs/

# Datasets
dataset/poses
dataset/processed
dataset/raw
dataset/metadata.csv

# Visual Studio Code config
/.vscode/*

# Obsidian temps file
/.obsidian/*